.grad1 {
    height:100%;
    background: #269abc; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#269abc, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#269abc, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#269abc, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#269abc, black); /* Standard syntax (must be last) */
}